<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.vibration"
    version="0.0.1">

    <name>Running Apps</name>
    <description>Cordova Running Apps Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,running,apps</keywords>
    <repo>https://github.com/mllm/cordova-plugin-running-apps</repo>
    <issue>https://github.com/mllm/cordova-plugin-running-apps/issues</issue>

    <js-module src="www/RunningApps.js" name="RunningApps">
        <clobbers target="RunningApps" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RunningApps">
                <param name="android-package" value="org.apache.cordova.runningapps.RunningApps"/>
            </feature>
        </config-file>

        <source-file src="src/android/RunningApps.java" target-dir="src/org/apache/cordova/runningapps" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.GET_TASKS"/>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RunningApps">
                <param name="ios-package" value="CDVRunningApps"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVRunningApps.h" />
	      <source-file src="src/ios/CDVRunningApps.m" />
    </platform>
</plugin>
