<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="backgroundtask"
    version="0.0.1">

    <name>Background Task</name>
    <description>Cordova Background Task Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,backgroun,task</keywords>
    <repo>https://github.com/mllm/cordova-plugin-background-task</repo>
    <issue>https://github.com/mllm/cordova-plugin-backgroun-task/issues</issue>

    <js-module src="www/BackgroundTask.js" name="BackgroundTask">
        <clobbers target="BackgroundTask" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundTask">
                <param name="ios-package" value="CDVBackgroundTask"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVBackgroundTask.h" />
	      <source-file src="src/ios/CDVBackgroundTask.m" />
    </platform>
</plugin>
